.navbar{
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HomeNav, .LoginNav {
    margin: 20px;
    color: antiquewhite;
    text-decoration: none;
} 