@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200&display=swap');

*{
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
  font-family: 'IBM Plex Sans', sans-serif;
}

html, body{
  overflow-x: hidden;
  transition: 0.5s;
  height: 100%;
  width: 100%;
  background: #fff;
  background-attachment:fixed;
}


/* FrontPage */

.Whole{
  display: flex;
  position: relative;
  align-items: center;
  min-height: 80vh;
  min-width: 100%;
  padding: 10%;
}

.Frontpage {
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color:#CCC5B9;
  align-items: center;
  border-radius: 20px;
  min-width: 80%;
  min-height: 35vh;
}

.Avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.Left {
  margin-left: 5%;
}

.Right {
  margin-right: 5%;
}

.Bruh {
  clear: both;
}

/* Edit Gallery */

.GP{
  display: flex;
  align-items: center;
  min-height: 80vh;
}

.EditGallery{
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color:#CCC5B9;
  align-items: center;
  border-radius: 20px;
  min-width: 80%;
  min-height: 35vh;
}